{%load staticfiles %}
<!DOCTYPE html>
<html style="height:100%; margin: 0" >

<head>

<!--This is the title-->
<title> Twitter Mine </title>

<!--This is for scaling on a mobile application-->
<meta name="viewport" content = "width=device-width, initial-scale=1.0">

<!-- These are the leaflet javascript files-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

<!-- These are the mapbox files, where the basemap is from-->
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

<!--This is the javascript which does the 'heavy lifting' for the webpage-->
<script src = {% static "twitterMineWork.js" %}></script> 

<!--CSS -->
<link rel="stylesheet" type="text/css" href = "/static/styleSheet.css">

<!--CDN for jQuery-->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

</head>
	<body style = "height: 100%;margin: 0">
	
		
		
		<div  id="map" style="height:100%; width:100%;margin: 0"> </div>
			<div id="img">
				<img src = "http://vignette1.wikia.nocookie.net/overwatch/images/9/97/Smicon_twitter.png/revision/latest?cb=20160514010100" style="width:100px;height:75px";/>
			</div>
			
			<div id ="inputBackground"></div>
			
			<a href="https://github.com/connerleverett" style="color:black">
				<div id="github" style="text-align:center; font-family:Arial; padding-top:1.5%;">Fork on Github!</div>
			</a>
			<div id="input">				
			  Search through Tweets:<br>
			  <input type="text" name="Search through Tweets" id="tweets"><br>
			  Search through Hashtags:<br>
			  <input type="text" name="Search through Hashtags" id="hashtags"><br>
				<form action="">
				  <input type="radio" name="radio" id="nB"> Natural Breaks<br>
				  <input type="radio" name="radio" id="Q"> Quantile<br>
				  <input type="radio" name="radio" id="eI"> Equal Interval--Number of Classes
				  <input type="text" style="width:20px" id="eIinput"><br>				  
				</form>
			  <input id="clickMe" value="Search" type="button" onclick = "runPython();"/>	
			</div>
			
			<div id="export">
				<input id="myButton" type="button" style="height:50px" value = "Export data to CSV" onclick = "downloadTweets();">
			</div>	
			<script type="text/javascript">
				//Pass data
				dictionaryOfStates = {{dictionary_json|safe}};
				distribution = {{distribution_json|safe}};
				allTweets = {{allTweets_json|safe}};
				//This is needed as the page needs to open before the Javascript is run
				window.onload = runJavaScript();
				
				function downloadTweets(){
					var A = [['datefield','latitude','longitude','unqiueid','tweettext','tweetuniqueid','hashtags']];
					
					
					//This removes any new line characters so that output to CSV is formatted
					for(var i=0, l=allTweets.length; i<l; ++i){
						for (var j=0, k=allTweets[i].length; j<k;++j){
							if (typeof(allTweets[i][j])=='string'){
								while (allTweets[i][j].includes('\n')){
									allTweets[i][j]=allTweets[i][j].replace('\n', ' ')
								}							
							}

						}		
						A.push([allTweets[i]]);
					}	
					
					var csvRows = [];

					for(var i=0, l=A.length; i<l; ++i){
						csvRows.push(A[i].join(','));
					}
					
					var csvString = csvRows.join('\r\n');
					var a         = document.createElement('a');
					a.href        = 'data:attachment/csv,' + encodeURIComponent(csvString);
					a.target      = '_blank';
					a.download    = 'tweets.csv';

					document.body.appendChild(a);
					a.click();
				};
			</script>
		
	</body>
</html>